{% extends "base.html" %}
{% block body %}
<div class="ui one column centered padded grid">
	<div class="fifteen wide column">
		<div class="ui horizontal menu">
			<div class="item">
				<div class="ui breadcrumb">
					<div class="active section"><i class="home icon"></i></div>
				</div>
			</div>
			<div class="item right">
				<a href="https://github.com/trehn/grafilter" target="_blank">grafilter 0.1.0</a>
			</div>
		</div>
		<div class="ui segment">
			<div class="ui massive transparent fluid action icon input">
				<input placeholder="Search...    (press return to show all)" type="text" id="search">
				<i class="search icon"></i>
			</div>
		</div>
		<div id="results">
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		bloodhound = new Bloodhound({
			datumTokenizer: function(d) {
				return Bloodhound.tokenizers.whitespace(d.val);
			},
			limit: 100,
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			remote: {
				url: '/search?q=%QUERY',
				wildcard: '%QUERY',
			},
		});

		function display_results(datums) {
			if (datums.length >= 1) {
				var output = "<table class='ui compact table'>";
				datums.map(function(datum) {
					output += "<tr><td>";
					output += "<a href='/metric/" + datum.name_urlsafe + "/'>";
					output += datum.name + "</a></td></tr>";
				})
				output += "</table>";
				$("#results").html(output);
			}
			else {
				$("#results").html("Nothing found.");
			}
		}

		$("#search").keyup(function(event) {
			query = $("#search").val();
			if (query.length > 1 || event.which == 13) {
				bloodhound.search(query, function(d){}, display_results);
			}
			else if (query.length <= 1) {
				$("#results").html("");
			}
		});

		$('#search').select();
	});
</script>
{% endblock %}
