{% extends "base.html" %}
{% block body %}
<div id='chart'><svg></svg></div>
<script type='text/javascript'>
	nv.addGraph(function() {
		var chart = nv.models.lineChart()
		.showLegend(true)
		;

		chart.xAxis.tickFormat(function(d) {
			return d3.time.format('%H:%M:%S')(new Date(d))
		});

		chart.xScale(d3.time.scale.utc());

		var values = {{ values }};
		var xy_values = [];
		for (var i = 0, size = values.length; i < size; i++) {
			xy_values.push({x: values[i][0], y: values[i][1]});
		}
		d3.select('#chart svg').datum([{
			'key': '{{ metric }}',
			'values': xy_values,
		}]).call(chart);

		nv.utils.windowResize(function() { chart.update() });
		return chart;
	});
</script>
{% endblock %}
